@page
@model IndexModel
@{
    ViewData["Title"] = "Профил";
}
@if (Model.Input.IsSpecialist == true)
{
    <div class="row custom-input-field">
        <h4 class="col-md-10 text-center">@ViewData["Title"]</h4>
    </div>
}
else
{
    <h4 style="margin-left:20%;">@ViewData["Title"]</h4>
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.Input.IsSpecialist == true)
{

    <div class="nav nav-tabs row mt-4" id="profileTab" role="tablist">
        <button class="nav-link active col-md-5 d-inline custom-btn-no-background" id="aboutTab" data-toggle="tab" href="#aboutme" role="tab" aria-controls="aboutme" aria-selected="true">За мен</button>
        <button class="nav-link col-md-5 d-inline custom-btn-no-background" id="servicesTab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Професионални компетенции и услуги</button>
    </div>
}



<div class="row mt-5">
    <div class="col-md-12">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="tab-content profile-tab" id="myTabContent">
                @*==================================
                           About me tab
                    ============================*@
                <div class="tab-pane fade show active mx-auto" id="aboutme" role="tabpanel" aria-labelledby="aboutTab">
                    <div class="image-area col-md-10 text-center">
                        <label for="upload" id="proff"> <img id="imageResult" src="@Model.Input.ProfilePictureUrl" alt="" class=""> </label>
                        <input hidden id="upload" class="col-md-10" name="imageFile" type="file" onchange="RenderTheImage();">
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger custom-input-text text-center"></div>

                    <div class="form-group col-md-10 text-center">
                        <label asp-for="Input.Username" class="custom-text-shadows"></label>
                        <input asp-for="Input.Username" class="form-control custom-input-field" disabled />
                    </div>
                    <div class="form-group col-md-10 text-center ">
                        <label asp-for="Input.PhoneNumber" class="custom-text-shadows"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control custom-input-field custom-input-text" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger custom-input-text"></span>
                    </div>
                    <div class="form-group col-md-10 text-center">
                        <label asp-for="Input.FirstName" class="custom-text-shadows"></label>
                        <input asp-for="Input.FirstName" class="form-control custom-input-field custom-input-text" />
                        <span asp-validation-for="Input.FirstName" class="text-danger custom-input-text"></span>
                    </div>
                    <div class="form-group col-md-10 text-center">
                        <label asp-for="Input.LastName" class="custom-text-shadows"></label>
                        <input asp-for="Input.LastName" class="form-control custom-input-field custom-input-text" />
                        <span asp-validation-for="Input.LastName" class="text-danger custom-input-text"></span>
                    </div>
                    <div class="form-group col-md-10 text-center">
                        <label asp-for="Input.City.Name" class="custom-text-shadows">Град</label>
                        <select asp-for="Input.City.Name" class="form-control custom-input-field custom-input-text" asp-items="Model.AllCities">
                            <option selected> @Model.Input.City.Name </option>
                        </select>
                        <span asp-validation-for="Input.City.Name" class="text-danger custom-input-text"></span>
                    </div>
                    @if (Model.Input.IsSpecialist == true)
                    {
                        <div class="form-group col-md-10 text-center">
                            <label asp-for="Input.SpecialistDetails.CompanyName" class="custom-text-shadows"></label>
                            <input asp-for="Input.SpecialistDetails.CompanyName" class="form-control custom-input-field custom-input-text" />
                            <span asp-validation-for="Input.SpecialistDetails.CompanyName" class="text-danger custom-input-text"></span>
                        </div>
                        <div class="form-group col-md-10 text-center">
                            <label asp-for="Input.SpecialistDetails.Website" class="custom-text-shadows"></label>
                            <input asp-for="Input.SpecialistDetails.Website" class="form-control custom-input-field custom-input-text" />
                            <span asp-validation-for="Input.SpecialistDetails.Website" class="text-danger custom-input-text"></span>
                        </div>
                    }
                </div>

                @*==================================
                             Services tab
                    ============================*@
                <div class="tab-pane fade show" id="services" role="tabpanel" aria-labelledby="servicesTab">
                    @if (Model.Input.IsSpecialist == true)
                    {
                        <div class="form-group col-md-10 text-center">
                            <label asp-for="Input.SpecialistDetails.AboutMe" class="custom-text-shadows"></label>
                            <textarea asp-for="Input.SpecialistDetails.AboutMe" class="form-control tinymce-textarea"></textarea>
                            <span asp-validation-for="Input.SpecialistDetails.AboutMe" class="text-danger custom-input-text"></span>
                        </div>
                        <div class="form-group col-md-10 text-center">
                            <label asp-for="Input.SpecialistDetails.Experience" class="custom-text-shadows"></label>
                            <textarea asp-for="Input.SpecialistDetails.Experience" class="form-control tinymce-textarea"></textarea>
                            <span asp-validation-for="Input.SpecialistDetails.Experience" class="text-danger custom-input-text"></span>
                        </div>
                        <div class="form-group col-md-10 text-center">
                            <label asp-for="Input.SpecialistDetails.Qualification" class="custom-text-shadows"></label>
                            <textarea asp-for="Input.SpecialistDetails.Qualification" class="form-control tinymce-textarea"></textarea>
                            <span asp-validation-for="Input.SpecialistDetails.Qualification" class="text-danger custom-input-text"></span>
                        </div>

                        <div class="col col-md-10">
                            <label class="col-md-12 custom-text-shadows text-center" asp-for="Input.SpecialistDetails.Services"></label>
                            @{ var counter = 1;
                                @foreach (var service in @Model.Input.SpecialistDetails.Services)
                                {
                                    <div class="form-row">
                                        <div class="col-md-10">
                                            <div>
                                                <label class="custom-input-text">@counter. @service.Name</label>
                                            </div>
                                            <div>
                                                <label class="custom-text-shadows"> - @service.Description</label>
                                            </div>
                                        </div>
                                        <button class="btn col-md-2 custom-danger-btn" asp-page-handler="Delete" asp-route-id="@service.Id" onclick="return confirm('Услугата \'@service.Name\' ще бъде изтрита от профила Ви.')" style="height:36px;"> Премахни </button>
                                    </div>
                                    counter++;
                                }
                            }

                        </div>
                        <div class="text-left col-md-12">
                            <a class="btn btn-success col-md-10" onclick="AddMoreServices()" onload="LoadAllServices(@Model.Input.SpecialistDetails.Services)">Добави услуга</a><br /><br />
                        </div>
                        <div id="ServicesContainer"></div>
                        <div class="text-left col-md-12">
                            <button id="update-profile-button" type="submit" class="btn btn-primary col col-md-10 " style="margin-top:3px;">Запази промените</button>
                        </div>
                    }
                </div>
            </div>

            @if (!Model.Input.IsSpecialist)
            {
                <div class="text-left col-md-10 mt-5">
                    <button id="update-profile-button" type="submit" class="btn btn-primary col col-md-12" style="border-radius:25px 25px; height:50px;">Запази промените</button>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @*Add more services dinamically*@
    <script asp-append-version='true' src="~/js/MyCustomJs/Profile/Profile.js"></script>
    <partial name="_ValidationScriptsPartial" />

    @*Render img and show it's name*@
    <script asp-append-version="true" src="~/js/MyCustomJs/Profile/renderProfileImg.js"></script>
}
