@using Microsoft.AspNetCore.Identity
@using ProSeeker.Common
@using ProSeeker.Data.Models
@model ProSeeker.Web.ViewModels.Users.UserViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = $"Welcome to the proffesional page of {Model.FullName}!";
}
@section Styles{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/MyCustomCss/Profile/userProfile.css" rel="stylesheet" />
    <link href="~/css/MyCustomCss/Profile/user-common.css" rel="stylesheet" />
}

<style>
    .checked {
        color: orange;
    }
</style>

@*=====================================
      View function for the recursion
    ==================================*@
@{
    void DisplayOpinions(int? parentOpinionId)
    {
        @*=================
               All opinions
            ==================*@
        var opinions = Model.Opinions
    .Where(o => o.AdId == null)
    .Where(x => x.ParentOpinionId == parentOpinionId).ToList();

        if (!opinions.Any())
        {
            return;
        }
       
        <div id="averageRatingsCount" style="display:none;">@Model.SpecialistDetails.AverageRating</div>
        <div class="all-opinions-container">
            
            @foreach (var opinion in opinions)
            {
                <div class="row justify-content-center  mb-3">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-0">
                                        <img src="@opinion.Creator.ProfilePicture" class="d-block ui-w-40 rounded-circle col-md-0 d-inline" style="width:40px; height:40px;">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="custom-text-shadows d-inline"> @opinion.Creator.FullName </p>
                                        @*<div class="clearfix"></div>*@
                                        @Html.Raw(opinion.SanitizedContent)
                                    </div>
                                </div>

                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <a class="reply-to-opinion text-muted" style="font-size:14px;" onclick="sendParentId(@opinion.Id)"><i style="font-size:14px;" class="fa fa-plus-square d-inline link"></i>&nbsp;Отговори</a>
                                        /<time style="font-size:14px;" class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/
                                    </div>
                                }
                                else
                                {
                                    <div> /<time class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/</div>
                                }
                                @{DisplayOpinions(opinion.Id);}
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
}
@*================= All opinions END ==================*@

<div class="container emp-profile" onload="UpdateRaitings()">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="@Model.ProfilePicture" style="max-width:325px; max-height:325px;" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    @Model.FullName
                </h5>
                <h6>
                    @Model.SpecialistDetails.JobCategory.Name - гр. @Model.City.Name
                </h6>


                <div>
                    <div class="item-rating d-inline-flex" id="ratingContainer" style="padding-bottom:10px">
                        <div style="padding-right:3px" class="star-fill" data-ratings="1"><i class="fas fa-star"></i></div>
                        <div style="padding-right:3px" class="star-fill" data-ratings="2"><i class="fas fa-star"></i></div>
                        <div style="padding-right:3px" class="star-fill" data-ratings="3"><i class="fas fa-star"></i></div>
                        <div style="padding-right:3px" class="star-fill" data-ratings="4"><i class="fas fa-star"></i></div>
                        <div style="padding-right:3px" class="star-fill" data-ratings="5"><i class="fas fa-star"></i></div>
                        <div>
                            <span id="averageRatingValue">@Model.SpecialistDetails.AverageRating.ToString("0.0")</span><span> / 5</span>
                            <span>
                                (<span id="ratingsCount">@Model.SpecialistDetails.RatingsCount </span>
                                @if (Model.SpecialistDetails.RatingsCount == 1)
                                {
                                    <span> vote)</span>
                                }
                                else
                                {
                                    <span> votes)</span>
                                }
                            </span>
                        </div>
                    </div>
                    <br />
                </div>

                <p> Членува от: <time class="d-block mb-5" datetime="@Model.CreatedOn.ToString("O")"> </time></p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">За мен</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="opinion-tab" data-toggle="tab" href="#opinion" role="tab" aria-controls="opinion" aria-selected="false">Мнения</a>
                    </li>
                </ul>
            </div>
        </div>

        @* ====================================================================
                                       WORK INVITATION
            ====================================================================*@
        <div class="col-md-2">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Покани за съвместна работа" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                @if (!string.IsNullOrWhiteSpace(Model.SpecialistDetails.CompanyName))
                {
                    <label>Company name</label>
                    <p>@Model.SpecialistDetails.CompanyName</p>
                }

                @if (!string.IsNullOrWhiteSpace(Model.SpecialistDetails.Website))
                {
                    <label>Website</label>
                    <a href="@Model.SpecialistDetails.Website">@Model.SpecialistDetails.Website</a><br />
                }
            </div>
        </div>

        @* ====================================================================
                                        ABOUT TAB
            ====================================================================*@
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="label-description-title"><i class="fas fa-info-circle"></i> За мен</label>
                            <p>@Html.Raw(@Model.SpecialistDetails.SanitezedAboutMe)</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="label-description-title"><i class="fas fa-briefcase"></i> Професионален опит</label>
                            <p>@Html.Raw(@Model.SpecialistDetails.SanitizedExperience)</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="label-description-title"><i class="fab fa-linode"></i> Специализация и квалификация </label>
                            <p>@Html.Raw(@Model.SpecialistDetails.SanitizedQualification)</p>
                        </div>
                    </div>
                </div>

                @* ====================================================================
                                                SERVICE TAB
                    ====================================================================*@
                <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                    @foreach (var service in Model.SpecialistDetails.Services)
                    {
                        <div class="card border-info mb-3" style="max-width: 33rem;">
                            <div class="card-header">@service.Name</div>
                            <div class="card-body text-info">
                                @*<h5 class="card-title">Info Panel title</h5>*@
                                <p class="card-text">@service.Description</p>
                            </div>
                        </div>
                    }
                </div>

                @* ====================================================================
                                              OPINION TAB
                    ====================================================================*@
                <div class="tab-pane fade" id="opinion" role="tabpanel" aria-labelledby="opinion-tab">
                    @{DisplayOpinions(null);}

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Opinions" asp-action="CreateOpinionToSpecialist" method="post" id="addOpinionsForm">

                                @if (!Model.Opinions.Any())
                                {
                                    <h5 class="text-center no-opinions-text">
                                        Все още няма мнения за този специалист.
                                    </h5>
                                }

                                <input hidden name="specialistId" value="@Model.SpecialistDetails.Id" />
                                <input type="hidden" name="ParentId" value="0" />
                                <div>
                                    <label for="Content"></label>
                                    <textarea placeholder="Напиши своето мнение..." name="Content" id="Content" class="form-control tinymce-textarea"></textarea>

                                </div>
                                <div>
                                    <input type="submit" class="btn custom-submit-button" value="Изпрати" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts
{
    <script asp-append-version="true" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script asp-append-version="true" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script asp-append-version="true">
        $("div[data-ratings]").each(function () {

        $(this).click(function () {
            var value = $(this).attr("data-ratings");
            var specialistId = "@Model.SpecialistDetails.Id";
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { specialistDetailsId: specialistId, value: Number(value) };
            $.ajax({
                type: "POST",
                url: "/api/Ratings",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function (data) {
                    $('#averageRatingValue').html(data.averageRatings.toFixed(1));
                    $('#ratingsCount').html(data.ratingsCount);
                    FillStars(data.averageRatings)
                },
                contentType: 'application/json',
            });
        })
        });

        function FillStars(averageRatings) {
            let rounded = Math.round(Number(averageRatings));
            for (var i = 0; i < 5; i++) {
                $("div[data-ratings]")[i].classList.remove("checked");
            }
            for (var i = 0; i < rounded; i++) {
                $("div[data-ratings]")[i].classList.add("checked");
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var num = document.querySelector('#averageRatingValue').textContent;
            let rounded = Math.round(Number(num));
            //debugger;
           
            for (var i = 0; i < rounded; i++) {
                $("div[data-ratings]")[i].classList.add("checked");
            }
        }, false);
    </script>

    <script asp-append-version="true">

        function sendParentId(parentId) {
            $("#addOpinionsForm input[name='ParentId']").val(parentId);

            // Navigate to the text area
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#addOpinionsForm").offset().top
            }, 1000);
        }
    </script>
}