@model ProSeeker.Web.ViewModels.Surveys.Answers.NewAnswerInputModel

@{
    ViewData["Title"] = "Create";
}

<h1>Създаване на отговор към въпрос :@Model.QuestionText / анкета: @Model.SurveyTitle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion">

            <div class="form-group">
                <label asp-for="@Model.Text" class="control-label"></label>
                <input asp-for="@Model.Text" class="form-control" />
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
            </div>
                <input hidden name="surveyId" value="@Model.SurveyId" />
                <input hidden name="questionId" value="@Model.QuestionId" />
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SurveyIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
