@model ProSeeker.Web.ViewModels.Surveys.AllSurveysViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="d-inline custom-text-shadows" style="font-weight:bold; font-size:25px;">Анкети</h1>
</div>

<style>
</style>
<form>
    <button class="custom-btn-no-background" asp-action="Create">Създай анкета</button>
</form>
<hr />
@foreach (var survey in Model.Surveys)
{
    <div style="background-color:rgba(163, 250, 244, 0.00);">
        <div class="">
            <div class="d-inline">
                <p class="d-inline">
                    <strong class="d-inline custom-golden-text" style="font-size:18px; font-weight:400;">Заглавие на анкета:</strong>
                </p>
                <p class="d-inline custom-text-shadows" style="font-weight:bold; font-size:19px;">
                    @survey.Title
                </p>
            </div>

            <div class="d-inline float-right m-2">

                <form class="d-inline">
                    <a class="survey-create-buttons" style="color:rgb(107, 65, 6); margin: 0 auto;" asp-action="EditSurvey" asp-route-surveyId="@survey.Id">Промени анкета</a>
                </form>
                <form method="post" class="d-inline">
                    <button type="submit" asp-action="DeleteSurvey" class="survey-create-buttons mx-auto" style="color:rgb(164, 8, 8); margin: 0 auto;">Изтрий анкета</button>
                    <input hidden asp-for="@survey.Id" name="surveyId" />
                </form>
            </div>
        </div>
        <hr />

        @{ var questionNumber = 1;}

        @foreach (var question in survey.Questions)
        {
            <div class="questions">
                <div class="d-inline">
                    <p class="d-inline ml-3">
                        <strong class="d-inline custom-golden-text" style="font-size:18px; font-weight:400;">Въпрос:</strong>
                    </p>
                    <p class="d-inline custom-text-shadows" style="font-weight:500; font-size:19px;">
                        @questionNumber)  @question.Text
                    </p>
                </div>
                <div class="float-right">
                    <form class="d-inline">
                        <button class="survey-create-buttons" asp-action="CreateAnswer">Създай отговор</button>
                        <input hidden asp-for="@question.Id" name="questionId" />
                        <input hidden asp-for="@survey.Id" name="surveyId" />
                    </form>
                    <form class="d-inline">
                        <button class="survey-create-buttons" style="color:rgb(107, 65, 6);" asp-action="EditQuestion">Промени</button>
                        <input hidden asp-for="@question.Id" name="questionId" />
                    </form>
                    <form method="post" class="d-inline">
                        <button class="survey-create-buttons" style="color:rgb(164, 8, 8);" asp-action="DeleteQuestion">Изтрий</button>
                        <input hidden asp-for="@question.Id" name="questionId" />
                    </form>
                </div>
            </div>
            <br />
            questionNumber++;

            @foreach (var answer in question.Answers)
            {
                <div class="answers">
                    
                    <div class="d-inline">
                        <p class="d-inline ml-5">
                            <strong class="d-inline custom-golden-text" style="font-size:18px; font-weight:400;">Отговор:</strong>
                        </p>
                        <p class="d-inline custom-text-shadows" style="font-weight:500; font-size:19px;">
                            @answer.Text
                        </p>
                    </div>
                    <div class=" float-right ">
                        <form class="d-inline">
                            <button class="survey-create-buttons" style="color:rgb(107, 65, 6);" asp-action="EditAnswer">Промени</button>
                            <input hidden asp-for="@answer.Id" name="answerId" />
                            <input hidden asp-for="@answer.Text" name="text" />
                        </form>

                        <form class="d-inline" method="post">
                            <button class="survey-create-buttons" style="color:rgb(164, 8, 8);" asp-action="DeleteAnswer">Изтрий</button>
                            <input hidden asp-for="@answer.Id" name="answerId" />
                        </form>
                    </div>
                </div>
                <br />
            }
        }

        <div class="float-lg-right">
            <form>
                <button class="custom-btn-no-background" asp-action="CreateQuestion" asp-route-id="@survey.Id">Създай въпрос</button>
            </form>
        </div>
        <br /> <br /><br /> <br /> <br />
    </div>
}
