@model IEnumerable<ProSeeker.Web.ViewModels.BaseJobCategories.SingleBaseJobCategoryViewModel>

@{
    ViewData["Title"] = "Базови категории";
}


<div class="text-center custom-golden-text">
    <h1>Базови категории</h1>
</div>
<form>
    <p class="float-left">
        <button asp-action="Create" class="custom-btn-no-background">Създай нова</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr class="custom-table-heading-row">
            <th>
                <label class="custom-textarea-text">Категория</label>
            </th>
            <th>
                <label class="custom-textarea-text">Описание</label>
            </th>
            <th>
                <label class="custom-textarea-text">Дата на създаване</label>
            </th>
            <th>
                <label class="custom-textarea-text">Последна промяна</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr class="custom-table-row">
                <td>
                    <label class="custom-input-text">@category.CategoryName</label>
                </td>
                <td>
                    <label class="custom-input-text">@category.Description</label>
                </td>  
                <td>
                    <time class="custom-input-text" datetime="@category.CreatedOn.ToString("O")"></time>
                </td>
                <td>
                    <time class="custom-input-text" datetime="@category.ModifiedOn?.ToString("O")"></time>
                </td>
                <td>
                    <form>
                        <button class="custom-btn-no-background" asp-area="Administration" asp-action="Edit" asp-route-id="@category.Id">Промени</button>                        
                    </form>
                    <form method="post">
                        <button class="custom-btn-no-background" asp-action="Delete" asp-route-id="@category.Id">Изтрий</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
