@model ProSeeker.Web.ViewModels.Offers.CreateOfferInputModel

<div class="hero-wrap hero-wrap-2" style="background-image: url('https://thumbs.dreamstime.com/z/author-office-writer-concept-desk-background-top-view-mock-up-professional-white-work-89923761.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>

</div>
<div class="text-center">

    <h1>Създаване на оферта</h1>
</div>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 mb-5">
                <form method="post" class="p-5 bg-transparent">
                    <article class="inquiry-notes">
                        - За да направите оферта е нужно <strong>да сте попълнили актуалния си телефонен номер</strong>.<br />
                        - В случай, че отстрещната страна приеме офертата Ви, ще получи вашия телефонен номер и имейл адрес, за да се свърже с Вас.<br />
                        - Колкото по-подробно е описанието на офертата Ви, толкова по-голям шанс има отсрещната страна да я приеме и да започнете съвместна работа.
                    </article>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <h4>
                                <label asp-for="@Model.Price"></label>
                            </h4>
                            <input asp-for="@Model.Price" class="form-control text" />
                            <span asp-validation-for="@Model.Price" class="text-danger custom-input-text"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <div class="form-group">
                                <h4>
                                    <label asp-for="@Model.Description"></label>
                                </h4>
                                <textarea asp-for="@Model.Description" class="form-control tinymce-textarea"></textarea>
                                <span asp-validation-for="@Model.Description" class="text-danger custom-input-text"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <h4>
                                <label asp-for="@Model.StartDate"></label>
                            </h4>
                            <input asp-for="@Model.StartDate" class="form-control text" />
                            <span asp-validation-for="@Model.StartDate" class="text-danger custom-input-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-4">
                            
                                <h4>
                                    <label asp-for="@Model.ExpirationDate"></label>
                                </h4>
                                @*value="@DateTime.UtcNow.AddYears(1).ToString("yyyy-MM-dd")" - decide if it's better to set initial date value*@
                                <input value="xxx" asp-for="@Model.ExpirationDate" class="form-control text" />
                                <span asp-validation-for="@Model.ExpirationDate" class="text-danger custom-input-text"></span>
                            
                        </div>                       
                            <div class="col-md-6 mb-3 mb-md-0">
                                <h4>
                                    <label asp-for="@Model.PhoneNumber"></label>
                                </h4>
                                <input asp-for="@Model.PhoneNumber" class="form-control text" /> 
                                <p class="inquiry-notes">Ако попълните друг телефонен номер, промяната ще бъде отчетена и в профила Ви.</p>
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger custom-input-text"></span>
                            </div>                       
                    </div>
                    <hr />

                    <div class="row ">
                        <div class="col-md-6 custom-submit-button-wrapper">
                            <button asp-controller="Offers" asp-action="Create" class="col-md-12 custom-submit-button">Изпрати</button>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.AdId" name="adId" />

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @*<partial name="_ValidationScriptsPartial" />*@
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/js/TinyMCE/TinyMce.js" type="text/javascript"></script>

}