@model ProSeeker.Web.ViewModels.Offers.OfferDetailsViewModel

<style>
    .custom-dash-border {
        background-color: rgba(220, 250, 248, 0.06);
        box-shadow: 5px 5px 32px rgb(34, 191, 177);
    }
</style>
@if (Model.IsAccepted)
{
<article class="custom-golden-text">Тази оферта е приета и можете да се свържете със специалиста чрез контактите, посочени по-долу.</article>
}
else
{
    <article class="inquiry-notes" style="font-size:21px; font-weight:bold;">
        Ако приемете тази оферта, ще получите контактите на специалиста, както и той - вашите, за да установите контакт и да започнете съвместна работа.
    </article>
}
<div class="details-container" style="background-color:rgba(245, 249, 250, 0.19)">
    <div class="row">
        <div class="button-container col-md-2">
            <div class="col-md-12">
                @if (this.User.Identity.IsAuthenticated && Model.IsAcountsOwner)
                {
                    if (!Model.IsAccepted)
                    {
                        <div class="mt-2">
                            <form asp-controller="Offers" asp-action="Accept" asp-route-offerId="@Model.Id" method="post">
                                <button type="submit" style="text-decoration:none; width:170px;" class="custom-submit-button">Приеми офертата</button>
                            </form>
                        </div>
                    }
                    <div class="mt-2">
                        <form id="deleteOfferForm" asp-controller="Offers" asp-action="Delete" asp-route-offerId="@Model.Id" method="post">
                        </form>
                        <button style="text-decoration:none; width:170px;" class="custom-submit-button text-center" data-toggle="modal" data-target="#deleteOfferModal">Изтрий офертата</button>
                    </div>
                }

            </div>
        </div>
        <div class="col-md-10 ">
            <div class="card m-2 custom-background-shadows">
                <div class="custom-background-shadows">
                    <div class="">
                        <div class="col-md-3 position-static">
                            <img src="@Model.SpecialistDetails.User.ProfilePicture" style="min-width:200px;min-height:190px; border-radius:1%;" class="float-left img-fluid">
                        </div>
                        <div class="col-md-12 text-right ">
                            <p class="card-title custom-input-text">@Model.SpecialistDetails.User.FullName</p>
                            <p class="card-title"><i style="color:cornflowerblue" class="fas fa-globe-americas"></i> @Model.SpecialistDetails.User.City.Name</p>
                            <p class="card-title"><i style="color:cornflowerblue" class="fas fa-briefcase"></i> @Model.SpecialistDetails.JobCategory.Name</p>
                            @if (Model.IsAccepted)
                            {
                                <p class="custom-input-text"><strong>Контакти:</strong></p>
                                <p class="card-title custom-input-text">телефон: @Model.SpecialistDetails.User.PhoneNumber</p>
                                <p class="card-title custom-input-text">имейл: @Model.SpecialistDetails.User.Email</p>
                            }
                        </div>
                        <div class="col-md-12 text-right">
                            <form asp-controller="SpecialistsDetails" asp-action="GetProfile" asp-route-id="@Model.SpecialistDetails.Id">
                                <button class="custom-submit-button text-right" style="box-shadow:none;">Виж профил</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="custom-dash-border" />
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="custom-text-shadows">
                @if (Model.IsAccepted)
                {
                    <div class="mt-1"><strong>Офертата е изпратена на:</strong>: @Model.CreatedOn.ToShortDateString() /преди @Model.SentTimeSpan/</div>
                    <div class="mt-1"><strong>Приели сте офертата на:</strong>: @Model.AcceptedOn /преди @Model.AcceptedSentTimeSpan/</div>
                }
                else
                {
                <div class="mt-1"><strong>Валидна от</strong>: @Model.CreatedOn.ToShortDateString() /преди @Model.SentTimeSpan/</div>
                <div class="mt-1"><strong>Валидна до</strong>: @Model.ExpirationDate.ToShortDateString() /още @Model.ExpirationCalculated/</div>
                }
                <div class="mt-1"><strong>Офертна цена</strong>: @Model.Price лева</div>
                <div class="mt-4 custom-textarea-text">@Html.Raw(Model.SanitizedDescription)</div>
            </div>
        </div>
    </div>
    <hr class="custom-dash-border mr-3" />
</div>

@*=================================
       MODAL - delete confirmation
    ===========================*@
<div class="modal" tabindex="-1" role="dialog" id="deleteOfferModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:azure">
            <div class="modal-body d-flex justify-content-center">
                <p class="custom-text-shadows">Наистина ли желаете да изтриете тази оферта?</p>
            </div>
            <div class="modal-footer row d-flex justify-content-center">
                <button type="button" class="custom-danger-btn col-md-4 text-center" onclick="deleteOfferForm.submit()">Да</button>
                <button type="button" class="custom-success-btn col-md-4 text-center" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>