@model ProSeeker.Web.ViewModels.Offers.AllMyOffersViewModel

<style>
    .custom-unred-attention-text {
        position: absolute;
        top: -11px;
        left: 0;
        color: rgb(76, 255, 0);
        text-shadow: 1px 1px 1px rgb(232, 154, 99);
        background-color: rgb(0, 0, 0);
        border-bottom-right-radius: 45%;
        min-width: 130px;
    }
</style>
@if (!Model.Offers.Any())
{
    <h2 class="custom-golden-text">Все още няма направени оферти към Вас!</h2>
}
<div class="row text-left">
    @foreach (var offer in Model.Offers)
    {
        <div class="col-md-3 m-2 ">
            <div class="card m-2 custom-background-shadows" style="width: 18rem;">
                <div class="card-body custom-background-shadows">
                    @if (offer.IsRed == false)
                    {
                        <p class="custom-unred-attention-text text-center">НЕПРОЧЕТЕНА</p>
                    }

                    <div class="row">
                        <div class="col-md-3 position-absolute ">
                            <img src="@offer.SpecialistDetails.User.ProfilePicture" style="width:100px;height:100px; border-radius:50%;" class="float-left">
                        </div>
                        <div class="col-md-12 text-right ">
                            <p class="card-title custom-input-text">@offer.SpecialistDetails.User.FullName</p>
                            <p class="card-title"><i style="color:cornflowerblue" class="fas fa-globe-americas"></i> @offer.SpecialistDetails.User.City.Name</p>
                            <p class="card-title"><i style="color:cornflowerblue" class="fas fa-briefcase"></i> @offer.SpecialistDetails.JobCategory.Name</p>
                        </div>
                        <div class="col-md-12">
                            <form asp-controller="SpecialistsDetails" asp-action="GetProfile" asp-route-id="@offer.SpecialistDetails.Id">
                                <button class="col-md-12 custom-submit-button text-center" style="box-shadow:none;">Виж профил</button>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush custom-text-shadows">
                    <li class="list-group-item">Изпратена преди: @offer.SentTimeSpan</li>
                    <li class="list-group-item">За обява: @offer.Ad.ShortTitle</li>
                    <li class="list-group-item">Офертна цена: @offer.Price лева</li>
                    <li class="list-group-item">@Html.Raw(offer.ShortSanitizedDescription)</li>
                </ul>
                <div class="card-body text-center">
                    <form asp-controller="Offers" asp-action="Details" asp-route-offerId="@offer.Id" method="post">
                        <button type="submit" style="text-decoration:none;" class="custom-submit-button text-center">Отвори детайли</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>