@using ProSeeker.Common 
@model ProSeeker.Web.ViewModels.Ads.AdsFullDetailsViewModel
@*=====================================
      View function for the recursion
    ==================================*@
@{
    this.ViewData["Title"] = Model.Title;

    void DisplayOpinions(int? parentOpinionId)
    {
        @*=================
               All opinions
            ==================*@
        var opinions = Model.Opinions
           .Where(o => o.SpecialistDetailsId == null)
           .Where(x => x.ParentOpinionId == parentOpinionId)
           .ToList();

        if (!opinions.Any())
        {
            return;
        }

        <div class="all-opinions-container" style="display:block;">

            @foreach (var opinion in opinions)
            {
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-0">
                                        <img src="@opinion.Creator.ProfilePicture" class="d-block ui-w-40 rounded-circle col-md-0 d-inline" style="width:40px; height:40px;">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="custom-text-shadows d-inline"> @opinion.Creator.FullName </p>
                                        @*<div class="clearfix"></div>*@
                                        @Html.Raw(opinion.SanitizedContent)
                                    </div>
                                </div>

                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <a class="reply-to-opinion text-muted" style="font-size:14px;" onclick="sendParentId(@opinion.Id)"><i style="font-size:14px;" class="fa fa-plus-square d-inline link"></i>&nbsp;Отговори</a>
                                        /<time style="font-size:14px;" class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/
                                    </div>
                                }
                                else
                                {
                                    <div> /<time class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/</div>
                                }
                                @{DisplayOpinions(opinion.Id);}
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
}

@*=================
      Ad's details
    ===============*@
<div class="row">
    <div class="button-container col-md-2">
        <div class="col-md-12">
            @if (this.User.Identity.IsAuthenticated)
            {
                if (!Model.IsOwnerOfAd && this.User.IsInRole(GlobalConstants.SpecialistRoleName))
                {
                    <form>
                        <div class="text-left">
                            <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Offers" asp-action="Create">Направи оферта</button>
                        </div>
                    </form>
                }
                else if (Model.IsOwnerOfAd)
                {
                    <form>
                        <div class="text-left">
                            <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Edit">Промени</button>
                        </div>
                    </form>
                    <form asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Delete" id="deleteAdForm" method="post">
                    </form>
                    <button class="custom-submit-button mb-3 col-md-12" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
                }

                if (this.User.IsInRole(GlobalConstants.RegularUserRoleName) && !Model.IsOwnerOfAd)
                {
                    <form>
                        <div class="text-left">
                            <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-controller="PrivateChat" asp-action="Index">Стартирай чат</button>
                            <input hidden name="receiverId" asp-for="@Model.UserId" />
                        </div>
                    </form>
                }

            }
        </div>
    </div>
    <section class="col-md-8" id="custom-shadow-transform">
        <div class="text-center custom-golden-text custom-heading-title col-md-12 position-absolute " style="left:0; right:0;">
            <h4 class="position-relative">
                @Model.Title
            </h4>
        </div><br />
        <div style="padding:1px 1px 1px 1px;" class="mt-5">
            <span class="card-text d-block custom-input-text">
                <span>@Html.Raw(Model.SanitizedDescription)<br></span>

            </span>
            <div class="row" style="margin-top:-20px;">
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-city"> гр.</i> @Model.City.Name</b>
                    @*Категория - @ad.JobCategory.Name*@
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="far fa-calendar-alt"></i> От: <time class="d-block mb-5" datetime="@Model.CreatedOn.ToString("O")"> </time></b>
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-hand-holding-usd"> Предвиден бюджет:</i> @Model.PreparedBudget</b>
                </div>
            </div>
        </div>


        <div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="text-muted d-flex float-left">
                    <form id="votesForm" method="post"></form>
                    <div class="mr-1">
                        <a href="#" onclick="sendVote('@Model.Id', true)"><i class="fa fa-thumbs-up d-inline"></i> </a>
                        <div class="text-muted d-inline" id="upVotesCount">@Model.UpVotesCount</div>
                        <div class="d-inline"> / </div>
                    </div>
                    <div class="ml-1">
                        <a href="#" onclick="sendVote('@Model.Id', false)"><i class="fa fa-thumbs-down d-inline"></i> </a>
                        <div class="d-inline" id="downVotesCount">@Model.DownVotesCount</div>

                    </div>
                </div>
            }
            else
            {
                <div class="text-muted d-flex float-left">

                    <div class="mr-1">
                        <i class="fa fa-thumbs-up d-inline"></i>
                        <div class="text-muted d-inline" id="upVotesCount">@Model.UpVotesCount</div>
                        <div class="d-inline"> / </div>
                    </div>
                    <div class="ml-1">
                        <i class="fa fa-thumbs-down d-inline"></i>
                        <div class="d-inline" id="downVotesCount">@Model.DownVotesCount</div>

                    </div>
                </div>
            }
            <div>
                <a type="button" href="#" style="text-decoration:none;" class="float-right" onclick="showOpinionsSection(0)">
                    <i class="fa fa-comment-dots"></i>&nbsp; (@Model.Opinions.Count())
                    @if (@Model.Opinions.Count() == 1)
                    {<p class="d-inline">Мнение</p>}
                    else
                    { <p class="d-inline">Мнения</p>}
                </a>
                <div class="clearfix"></div>
            </div>
        </div>

        @{ DisplayOpinions(null); }



        @*============================
           New opinion /text area/
        ===========================*@


        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Opinions" asp-action="CreateAdOpinion" method="post" id="addOpinionsForm" style="display:block;">
                    @if (!Model.Opinions.Any())
                    {
                        <h5 class="text-center no-opinions-text">
                            Все още няма мнения за тази обява.
                        </h5>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <input hidden name="adId" value="@Model.Id" />
                        <input type="hidden" name="ParentId" value="0" />
                        <div>
                            <label for="Content"></label>
                            <textarea placeholder="Напиши своето мнение..." name="Content" id="Content" class="form-control tinymce-textarea"></textarea>
                        </div>
                        <div>
                            <input type="submit" class="btn custom-submit-button" value="Изпрати" />
                        </div>
                    }
                </form>
            </div>
        </div>

    </section>
</div>
<br />
<br />


@*=================================
       MODAL - delete confirmation
    ===========================*@
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:azure">
            <div class="modal-body d-flex justify-content-center">
                <p class="custom-text-shadows">Наистина ли желаете да изтриете тази обява?</p>
            </div>
            <div class="modal-footer row d-flex justify-content-center">
                <button type="button" class="custom-danger-btn col-md-4 text-center" onclick="deleteAdForm.submit()">Да</button>
                <button type="button" class="custom-success-btn col-md-4 text-center" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script asp-append-version="true">
        function sendVote(adId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { adId: adId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#upVotesCount").html(data.upVotesCount);
                    $("#downVotesCount").html(data.downVotesCount);
                }
            });
        }
    </script>

    <script asp-append-version="true">
        function showOpinionsSection(parentId) {  // TODO: Add teaxarea for leaving an opinion + functionality for reply under each opinion
            // Show / hide opinions
            let section = document.querySelector("#addOpinionsForm");
            //let section = document.querySelector(".all-opinions-container");
            section.style.display = section.style.display === 'block' ? 'none' : 'block';

            let allOpinionsContainer = document.querySelector('.all-opinions-container');
            allOpinionsContainer.style.display = allOpinionsContainer.style.display == 'block' ? 'none' : 'block';

            // Insert parentId value according to the opinion(comment) we want to reply
            $("#addOpinionsForm input[name='ParentId']").val(parentId);
        }

        function sendParentId(parentId) {
            $("#addOpinionsForm input[name='ParentId']").val(parentId);

            // Navigate to the text area
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#addOpinionsForm").offset().top
            }, 1000);
        }
    </script>
}