@model ProSeeker.Web.ViewModels.Ads.AdsFullDetailsViewModel
<div class="row">
    <div class="button-container col-md-2">
        <div class="col-md-12">
            <div id="">
                <form>
                    <div class="text-left">
                        <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Edit">Промени</button>
                        <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Delete" onclick="return confirm('Наистина ли искате да изтриете обявата?')">Изтрий</button>

                        @*<input type="hidden" asp-for="@Model.Id" name="adId" />*@
                        @*<input type="hidden" asp-for="@Model.UserId" name="applicationUserId" />*@
                        <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Offers" asp-action="Create">Направи оферта</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="col-md-10" id="custom-shadow-transform">
        <h2 class="card-header text-center">
            @Model.Title
        </h2>

        <div style="padding:1px 1px 1px 1px;">
            <span class="card-text d-block">
                <span>@Html.Raw(Model.SanitizedDescription)<br></span>

            </span>
            <div class="row" style="margin-top:-20px;">
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-city"> гр.</i> @Model.City.Name</b>
                    @*Категория - @ad.JobCategory.Name*@
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="far fa-calendar-alt"></i> От: <time class="d-block mb-5" datetime="@Model.CreatedOn.ToString("O")"> </time></b>
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-hand-holding-usd"> Предвиден бюджет:</i> @Model.PreparedBudget</b>
                </div>
            </div>
        </div>

        @*sqdqwdqwdqw*@

        <div class="col-md-12"> <button type="button" class="btn btn-primary float-right" onclick="showOpinionsSection(0)"><i class="fa fa-plus"></i>&nbsp; Comment</button> </div>








        @*wqdqwdqwdqw*@

    </section>

</div>

<div class="row ml-2">
    <div class="col-md-12" id="addOpinionsForm" style="display:none;">
        <form asp-controller="Opinions" asp-action="CreateAdOpinion" method="post">
            <input hidden name="adId" value="@Model.Id" />
            <div>
                <label for="Content"></label>
                <textarea name="Content" id="Content" class="form-control tinymce-textarea"></textarea>
            </div>
            <div>
                <input type="submit" class="btn custom-submit-button" value="Изпрати" />
            </div>
        </form>
    </div>
</div>

@*sdadasd*@
@*tinymce-textarea*@





<script>
    function showOpinionsSection(id) {
        let section = document.querySelector('#addOpinionsForm');
        section.style.display = section.style.display === 'block' ? 'none' : 'block';
    }
</script>
