@model ProSeeker.Web.ViewModels.Ads.AdsFullDetailsViewModel
@*=====================================
      View function for the recursion
    ==================================*@
@{
    this.ViewData["Title"] = Model.Title;

    void DisplayOpinions(int? parentOpinionId)
    {
        @*=================
               All opinions
            ==================*@
        var opinions = Model.Opinions
           .Where(o => o.SpecialistDetailsId == null)
           .Where(x => x.ParentOpinionId == parentOpinionId)
           .ToList();

        if (!opinions.Any())
        {
            return;
        }

        <div class="all-opinions-container" style="display:block;">

            @foreach (var opinion in opinions)
            {
                <div class="row justify-content-center  mb-3">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-0">
                                        <img src="@opinion.Creator.ProfilePicture" class="d-block ui-w-40 rounded-circle col-md-0 d-inline" style="width:40px; height:40px;">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="custom-text-shadows d-inline"> @opinion.Creator.FullName </p>
                                        @*<div class="clearfix"></div>*@
                                        @Html.Raw(opinion.SanitizedContent)
                                    </div>
                                </div>

                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <a class="reply-to-opinion text-muted" style="font-size:14px;" onclick="sendParentId(@opinion.Id)"><i style="font-size:14px;" class="fa fa-plus-square d-inline link"></i>&nbsp;Отговори</a>
                                        /<time style="font-size:14px;" class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/
                                    </div>
                                }
                                else
                                {
                                    <div> /<time class="text-muted text-right d-inline" datetime="@opinion.CreatedOn.ToString("O")"></time>/</div>
                                }
                                @{DisplayOpinions(opinion.Id);}
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
}

@*=================
      Ad's details
    ===============*@
<div class="row">
    <div class="button-container col-md-2">
        <div class="col-md-12">
            <div id="">
                <form>
                    <div class="text-left">
                        <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Edit">Промени</button>

                        <button type="submit" class="custom-submit-button mb-3 col-md-12" asp-route-id="@Model.Id" asp-controller="Offers" asp-action="Create">Направи оферта</button>
                    </div>
                </form>
                <form asp-route-id="@Model.Id" asp-controller="Ads" asp-action="Delete" id="deleteAdForm">
                </form>
                <button class="custom-submit-button mb-3 col-md-12" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
            </div>
        </div>
    </div>
    <section class="col-md-10" id="custom-shadow-transform">
        <h2 class="card-header text-center">
            @Model.Title
        </h2>

        <div style="padding:1px 1px 1px 1px;">
            <span class="card-text d-block">
                <span>@Html.Raw(Model.SanitizedDescription)<br></span>

            </span>
            <div class="row" style="margin-top:-20px;">
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-city"> гр.</i> @Model.City.Name</b>
                    @*Категория - @ad.JobCategory.Name*@
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="far fa-calendar-alt"></i> От: <time class="d-block mb-5" datetime="@Model.CreatedOn.ToString("O")"> </time></b>
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-hand-holding-usd"> Предвиден бюджет:</i> @Model.PreparedBudget</b>
                </div>
            </div>
        </div>

        @if (this.User.Identity.IsAuthenticated)
        {
            <a type="button" href="#" class="float-right" onclick="showOpinionsSection(0)"><i class="fa fa-comment-dots"></i>&nbsp; (@Model.Opinions.Count()) Мнения</a>
            <div class="clearfix"></div>
        }

        @{ DisplayOpinions(null); }



        @*============================
               New opinion /text area/
            ===========================*@
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Opinions" asp-action="CreateAdOpinion" method="post" id="addOpinionsForm" style="display:block;">
                    @if (!Model.Opinions.Any())
                    {
                        <h5 class="text-center no-opinions-text">
                            Все още няма мнения за тази обява.
                        </h5>
                    }
                    <input hidden name="adId" value="@Model.Id" />
                    <input type="hidden" name="ParentId" value="0" />
                    <div>
                        <label for="Content"></label>
                        <textarea placeholder="Напиши своето мнение..." name="Content" id="Content" class="form-control tinymce-textarea"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn custom-submit-button" value="Изпрати" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<br />
<br />


@*=================================
       MODAL - delete confirmation //тест на формата/ id на формата /
    ===========================*@
<div class="modal" tabindex="-1" role="dialog" id="deleteModal" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="background-color:azure">
            <div class="modal-body d-flex justify-content-center">
                <p class="custom-text-shadows">Сигурни ли сте, че искате да изтриете този запис?</p>
            </div>
            <div class="modal-footer row d-flex justify-content-center">
                <button type="button" class="custom-success-btn col-md-4 text-center" onclick="deleteAdForm.submit()">Да</button>
                <button type="button" class="custom-danger-btn col-md-4 text-center" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>

<style asp-append-version="true">
    /* ============================
    SUCCESS BUTTTON   
   ============================ */
    .custom-success-btn {
        font-size: 17px;
        border-radius: 2%;
        box-shadow: 1px 2px 1px 1px rgba(24, 81, 24, 0.75), 1px 1px 0 0px rgb(24, 81, 24);
        background-color: rgb(4, 194, 4);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        border-radius: 6%;
        color: azure;
        opacity: 0.8;
        font-weight: bold;
    }

        .custom-success-btn:hover {
            cursor: pointer;
            background-color: rgb(36, 128, 41);
            font-weight: bold;
        }

    /* ============================
    DANGER BUTTTON   
   ============================ */
    .custom-danger-btn {
        font-size: 17px;
        border-radius: 2%;
        box-shadow: 1px 2px 1px 1px rgba(24, 81, 24, 0.75), 1px 1px 0 0px rgb(24, 81, 24);
        background-color: rgba(120, 7, 14, 0.83);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        border-radius: 6%;
        color: azure;
        opacity: 0.9;
        font-weight: bold;
    }

        .custom-danger-btn:hover {
            cursor: pointer;
            background-color: rgba(72, 5, 5, 0.83);
            font-weight: bold;
        }
</style>

@section Scripts{

    <script asp-append-version="true">
        function showOpinionsSection(parentId) {  // TODO: Add teaxarea for leaving an opinion + functionality for reply under each opinion
            // Show / hide opinions
            let section = document.querySelector("#addOpinionsForm");
            //let section = document.querySelector(".all-opinions-container");
            section.style.display = section.style.display === 'block' ? 'none' : 'block';

            let allOpinionsContainer = document.querySelector('.all-opinions-container');
            allOpinionsContainer.style.display = allOpinionsContainer.style.display == 'block' ? 'none' : 'block';

            // Insert parentId value according to the opinion(comment) we want to reply
            $("#addOpinionsForm input[name='ParentId']").val(parentId);
        }

        function sendParentId(parentId) {
            $("#addOpinionsForm input[name='ParentId']").val(parentId);

            // Navigate to the text area
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#addOpinionsForm").offset().top
            }, 1000);
        }
    </script>
}