@model ProSeeker.Web.ViewModels.Ads.GetAllViewModel

@if (!Model.Ads.Any())
{
    <h2>Все още няма регистрирани обяви в тази категория!</h2>
}

@foreach (var ad in Model.Ads)
{
    <section class="card border-info mb-3">
        <h2 class="card-header">
            @ad.Title
        </h2>
        <div style="padding:8px 8px 8px 8px;">
            <span class="card-text d-block">
                <span>@Html.Raw(@ad.SanitizedDescription)<br></span>

            </span>
            <div class="row">
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-city"> гр.</i> @ad.City.Name</b>
                    Категория - @ad.JobCategory.Name
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="far fa-calendar-alt"></i> От: @ad.CreatedOn</b>
                </div>
                <div class="col-lg-4 item">
                    <b class="d-block mb-5"><i class="fas fa-hand-holding-usd"> Предвиден бюджет:</i> @ad.PreparedBudget</b>
                </div>
            </div>
        </div>
    </section>
}