@model ProSeeker.Web.ViewModels.PrivateChat.PrivateChatViewModel

@section Styles{
    <link href="~/css/MyCustomCss/Common/privateChat.css" rel="stylesheet" asp-append-version="true" />
}

<div id="messageContainer">
    <div id="currentUserUserName" hidden>@User.Identity.Name</div>
    @foreach (var message in Model.ChatMessages)
    {
        @if (Model.Sender.Id == message.ReceiverId)
        {
            @*<Той>*@
            <div class="media col-md-7 ml-auto mb-1 mr-5">
                <div class="media-body d-inline">
                    <p class="text-small custom-receiver-chat-content mr-3">
                        @Html.Raw(message.Content)
                        <time class="small ml-1 my-message-date float-right pt-0" datetime="@message.CreatedOn.ToString("O")" style="color:darkgray;"></time>
                    </p>
                </div>
            </div>
        }
        else
        {
            @*<Аз>*@
            <div class="media col-md-7 mb-1">
                <div class="media-body ml-4">
                    <p class="text-small mb-0 custom-sender-chat-content">
                        @Html.Raw(message.Content)
                        <time class="small  my-message-date float-right" datetime="@message.CreatedOn.ToString("O")" style="color:darkgray"></time>
                    </p>
                </div>
            </div>
        }
    }
</div>


<form asp-controller="PrivateChat" onload="updateScroll()" asp-action="SendMessage" id="sendMessageForm">
    <div class="container" style="overflow:auto">
        <div class="message-container"></div>
        <div id="message-holder" class="mt-3 justify-content-center row">

            <input class=" pl-3 custom-messages-input-field col-md-11 d-inline" name="message" id="messageInput" placeholder="Напиши..." style="overflow:auto" />
            <button id="sendButton" class=""><i class="fas fa-chevron-circle-right col-md-0 d-inline" style="font-size:30px;color:purple; "></i></button>
        </div>
        <div id="messagesList" style="font-size: 28px;">
        </div>
    </div>
    <input name="conversationId" asp-for="@Model.ConversationId" type="hidden" id="hConversationId" />
    <input name="senderId" asp-for="@Model.Sender.Id" type="hidden" id="hSenderId" />
    <input name="receiverId" asp-for="@Model.Receiver.Id" type="hidden" id="hReceiverId" />

</form>

@section Scripts{    
    <script asp-append-version="true" src="~/js/MyCustomJs/privateChatSignalR.js"></script>
}