@model ProSeeker.Web.ViewModels.Quizzes.SurveyViewModel

<style>
    img {
        min-width: 50px;
        max-width: 300px;
        min-height: 50px;
        max-height: 360px;
    }

    .choices-letter {
        font-size: 20px;
        color: rgb(110, 97, 97);
        text-shadow: 0.5px 1px 1px rgb(4, 44, 17);
        display: inline-block;
        text-align: left;
        border: 1px solid rgb(255, 254, 254);
        border-radius: 25px;
        cursor: pointer;
        padding: 10px;
        padding-right: 0px;
    }

        .choices-letter:hover {
            cursor: pointer;
            background-color: #e3f1f8;
            font-weight: bold;
        }

    .choices:hover {
        cursor: pointer;
    }

    #survey-question {
        font-size: 25px;
        color: rgb(24, 134, 92);
        text-shadow: 1.1px 1px 1px rgb(8, 12, 71);
    }

    #survey-container {
        /*margin: 10px auto;*/
        border-radius: 5px;
        -webkit-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        -moz-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        opacity: 0.96;
    }

    #survey-timer {
        position: absolute;
        height: 100px;
        width: 200px;
        bottom: 0px;
        text-align: center;
    }

    #survey-counter {
        font-size: 3em;
    }

    #survey-progress {
        width: 500px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        text-align: right;
    }

    .progress-circles {
        width: 17px;
        height: 17px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        margin-left: 11px;
        margin-right: 11px;
    }

    .survey-backward-btn {
        color: rgb(24, 134, 92);
        text-shadow: 0.5px 0.5px 0.5px rgb(8, 12, 71);
        font-size: 16px;
    }

        .survey-backward-btn:hover {
            text-decoration: none;
            cursor: pointer;
            color: rgb(6, 67, 151);
        }

    /* the quiz exit button */
    .exit-survey-btn {
        color: rgb(8, 12, 71);
        font-weight: bold;
        right: 0;
    }

        .exit-survey-btn:hover {
            color: rgb(24, 134, 92);
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="row">
    <div id="survey-container" class="col-md-12">


        @*Loading timer*@
        <div class="progress-load-wrapper">
            <div class="progress-load"></div>
        </div>
        @{var questionNumber = 1;}
        <div id="survey-content" style="display: block" class="row">
            @foreach (var question in Model.Questions)
            {
                <div class="question-@questionNumber" style="display: none;">
                    <div class="exit-survey-wrapper float-right d-inline" style=" position:relative; z-index:10;">
                        <a class="exit-survey-btn" onclick="exitSurvey()">X</a>
                    </div>
                    <div class="col-md-12 text-center">
                        <div id="survey-question" class="col-md-12 text-center d-inline">@question.Text</div>
                    </div>
                    <div class="row mt-1">
                        <img id="survey-qImg" src="~/images/Survey/1.png" class="col-md-3 d-inline ml-3" />
                        <div id="survey-choice-container" class="col-md-8 float-left">
                            @{ var answersCounter = 1;}

                            <div class="answers-container" onclick="LoadNextQuestion(@questionNumber, @Model.Questions.Count(), event)">

                                @foreach (var answer in question.Answers)
                                {
                                    <label class="choices-letter col-md-11 float-left d-inline mt-1choices d-inline">@answersCounter) @answer.Text</label>
                                    answersCounter++;
                                }
                            </div>
                            <div class="float-left">
                                <a class="fa fa-backward col-md-1 mt-5 survey-backward-btn d-inline" onclick="GetPreviousQuestion(@questionNumber, @Model.Questions.Count(), event)">
                                    <p class="pl-1 d-inline">Назад</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                questionNumber++;
            }
            <input hidden class="questionsCount" value=@Model.Questions.Count() />
        </div>

        @* ========== Will pop-up when all questions have been rendered ==========*@
        <div class="endOfQuizAppearance" style="display:none;">
            <h2 class="text-center custom-golden-text">
                Благодарим, че помогнахте да подобрим нашата платформа!
            </h2>
            <p class="inquiry-notes  mt-5">
                <strong>Успешно попълнихте нашата анкета!</strong> <br />

                Ако сте специалист: <br />
                - профилът Ви ще бъде ВИП за седмица и ще се показва преди всички останали. <br />

                Ако сте потребител:<br />
                - Обявите Ви ще бъдат ВИП и ще се показват преди всички останали.<br />
            </p>
            <form asp-controller="Survey" asp-action="End">
                <div class="user-answers">
                    <input hidden />
                </div>
                <br /><br />
                <div class="text-center">
                    <button class="btn col-md-6 mb-2 custom-btn-no-background" type="submit">Потвърди</button>
                    <input hidden name="surveyId" asp-for="@Model.Id" />
                </div>
            </form>
        </div>

        @* ========== Progress circles ==========*@
        <div id="survey-progress" class="col-md-6 mt-5">
            @for (int qIndex = 1; qIndex <= Model.Questions.Count(); qIndex++)
            {
                <div class='progress-circles mt-2' id="currentQ-@qIndex"></div>
            }
        </div>
    </div>
</div>


<script asp-append-version="true">
    (function () {
        // Make first quesiton visible
        document.querySelector('.question-1').style.display = "block";
        document.querySelector(`#currentQ-1`).style.backgroundColor = "#2f8328";
    })()

    function GetPreviousQuestion(currentQuestionNum) {
        // Check if there are any previous questions. If any, hide current one and show the previous
        if (currentQuestionNum > 1) {
            emptyProgressCircle(currentQuestionNum);
            document.querySelector(`.question-${currentQuestionNum}`).style.display = "none";

            let previousQuestionNumber = Number(currentQuestionNum) - 1;
            document.querySelector(`.question-${previousQuestionNumber}`).style.display = "block";           
        }
    }

    function LoadNextQuestion(currentQuestionNum, numberOfQuestion, event) {
        let currentAnswer = event.target;
        if (currentAnswer.nodeName !== "LABEL") {
            return;
        }

        // Hide current question
        let currentQuestion = document.querySelector(`.question-${currentQuestionNum}`);
        currentQuestion.style.display = "none";

        // Unhide next question if there is any. Otherwise, show the end of the survey and hide the progress circles
        if (currentQuestionNum >= numberOfQuestion) {
            document.querySelector('#survey-progress').style.display = "none";
            document.querySelector('.endOfQuizAppearance').style.display = "block";            
            return;

        } else {
            let nextQuestionNumber = Number(currentQuestionNum) + 1;
            fillProgressCircle(nextQuestionNumber)
            
            let nextQuestion = document.querySelector(`.question-${nextQuestionNumber}`);
            nextQuestion.style.display = "block";
        }
    }

    function fillProgressCircle(index){
        document.querySelector(`#currentQ-${index}`).style.backgroundColor = "#2f8328"
    }

    function emptyProgressCircle(index) {
        document.querySelector(`#currentQ-${index}`).style.backgroundColor = "white"
    }

    function exitSurvey() {
        window.location.replace("/");
    }
</script>
