@model ProSeeker.Web.ViewModels.Quizzes.SurveyViewModel

@section Styles{
    <link href="~/css/MyCustomCss/Survey/survey.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/MyCustomCss/Background/backgroundImg.css" rel="stylesheet" asp-append-version="true" />
}

<div class="row">
    <div id="survey-container" class="col-md-12">

        @*Loading timer*@
        <div class="progress-load-wrapper">
            <div class="progress-load"></div>
        </div>
        @{var questionNumber = 1;}
        <div id="survey-content" style="display: block" class="row">
            @foreach (var question in Model.Questions)
            {
                <div class="question-@questionNumber" style="display: none;">
                    <div class="exit-survey-wrapper float-right d-inline" style=" position:relative; z-index:10;">
                        <a class="exit-survey-btn" onclick="exitSurvey()">X</a>
                    </div>
                    <div class="col-md-12 text-center">
                        <div id="survey-question" class="col-md-12 text-center d-inline">@question.Text</div>
                    </div>
                    <div class="row mt-1">
                        <img id="survey-qImg" src="~/images/Survey/1.png" class="col-md-3 d-inline ml-3" />
                        <div id="survey-choice-container" class="col-md-8 float-left">
                            @{ var answersCounter = 1;}

                            <div class="answers-container" onclick="LoadNextQuestion(@questionNumber, @Model.Questions.Count(), event)">

                                @foreach (var answer in question.Answers)
                                {
                                    <label class="choices-letter col-md-11 float-left d-inline mt-1choices d-inline">@answersCounter) @answer.Text</label>
                                    answersCounter++;
                                }
                            </div>
                            <div class="float-left">
                                <a class="fa fa-backward col-md-1 mt-5 survey-backward-btn d-inline" onclick="GetPreviousQuestion(@questionNumber, @Model.Questions.Count(), event)">
                                    <p class="pl-1 d-inline">Назад</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                questionNumber++;
            }
            <input hidden class="questionsCount" value=@Model.Questions.Count() />
        </div>

        @* ========== Will pop-up when all questions have been rendered ==========*@
        <div class="endOfQuizAppearance" style="display:none;">
            <h2 class="text-center custom-golden-text">
                Благодарим, че помогнахте да подобрим нашата платформа!
            </h2>
            <p class="inquiry-notes  mt-5">
                <strong>Успешно попълнихте нашата анкета!</strong> <br />

                Ако сте специалист: <br />
                - профилът Ви ще бъде ВИП за седмица и ще се показва преди всички останали. <br />

                Ако сте потребител:<br />
                - Обявите Ви ще бъдат ВИП и ще се показват преди всички останали.<br />
            </p>
            <form asp-controller="Survey" asp-action="End">
                <div class="user-answers">
                    <input hidden />
                </div>
                <br /><br />
                <div class="text-center">
                    <button class="btn col-md-6 mb-2 custom-btn-no-background" type="submit">Потвърди</button>
                    <input hidden name="surveyId" asp-for="@Model.Id" />
                </div>
            </form>
        </div>

        @* ========== Progress circles ==========*@
        <div id="survey-progress" class="col-md-6 mt-5">
            @for (int qIndex = 1; qIndex <= Model.Questions.Count(); qIndex++)
            {
                <div class='progress-circles mt-2' id="currentQ-@qIndex"></div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Survey/survey.js" asp-append-version="true"></script>
}
