@model ErrorViewModel

<style>
    .heading-error-title {
        font-size: 26px;
        color: rgba(29, 146, 6, 0.90);
        text-shadow: 1px 0px 0px rgb(25, 13, 204);
    }

    .error-text {
        color: rgb(235, 74, 74);
        text-shadow: 2px 2px 2px rgb(25, 13, 204);
    }

    .error-container {
        background-color: rgba(239, 206, 206, 0.00);
    }
</style>

<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        @if (@Model.StatusCode == "403")
        {
            <div class="error-container">
                <div class="text-center">
                    <p class="heading-error-title">Грешка @Model.StatusCode:</p>
                    <h1 class="error-text">Достъпът е отказан!</h1>
                    <p class="heading-error-title">Ако грешката продължи да се показва, свържете се с администратор</p>
                </div>
            </div>
        }
        else if (@Model.StatusCode == "404")
        {
            <div class="error-container">
                <div class="text-center">
                    <p class="heading-error-title">Грешка @Model.StatusCode:</p>
                    <h1 class="error-text">Страницата не е намерена!</h1>
                    <p class="heading-error-title">Ако грешката продължи да се показва, свържете се с администратор</p>
                </div>
            </div>
        }
        else if (Model.StatusCode != null)
        {
            <div class="error-container">
                <div class="text-center">
                    <p class="heading-error-title">Грешка @Model.StatusCode:</p>
                    <p class="heading-error-title">Извиняваме се за неудобството! Ако грешката продължи да се показва, свържете се с администратор</p>
                </div>
            </div>
        }
        else
        {
            <div class="error-container">
                <div class="text-center">
                    <h1 class="error-text">Възникна грешка, докато обработвахме заявката Ви!</h1>
                    <p class="heading-error-title">Молим да ни извините! Ако грешката продължи да се показва, свържете се с администратор</p>
                </div>
            </div>
        }
        <div class="text-center row">
            <a asp-action="Index" asp-controller="Home" class="btn custom-submit-button col-md-8">Начална страница</a>
        </div>
    </div>
</div>
