@model ProSeeker.Web.ViewModels.Categories.CategoriesViewModel

<div class="custom-heading-title">
    <h3 class="text-center mb-4 custom-golden-text">Добре дошли в категория '@Model.Name'!</h3>
    <div class="text-center" style="font-style:oblique; text-shadow: 1px 1px 1px rgba(20, 137, 248, 0.55);">
        <h4 style="text-shadow: 1px 1px 1px rgba(11, 86, 84, 0.25);">"@Model.Description"</h4> <hr />
    </div>
</div>

@if (!Model.SpecialistsDetails.Any())
{
    <h2 class="custom-golden-text" style="font-style:oblique; font-family:'Ink Free';">Все още няма регистрирани специалисти в тази категория.</h2>
}
else
{
    @if (Model.SpecialistsDetails.Count > 0)
    {
        <div class="list-group m-5">
            <div class="row">
                @foreach (var specialist in Model.SpecialistsDetails)
                {
                    <div class="media d-md-inline m-md-2 row m-5">
                        <h4 class="media-heading"><a asp-controller="SpecialistsDetails" asp-action="GetProfile" asp-route-id="@specialist.Id">@specialist.UserFullName</a></h4>
                        <div class="form-group">
                            <img src="@specialist.UserProfilePicture" width="130" height="110" alt="Alternate Text" />
                        </div>
                        <p>@specialist.JobCategoryName - @specialist.UserCityName</p>
                        <p><i class="fas fa-user"></i> @specialist.UserUserName</p>
                        <p><i class="fas fa-hourglass-end"></i> Членство от: <time class="d-block mb-5" datetime="@specialist.CreatedOn.ToString("O")"> </time></p>
                        <div class="stars-container" style="margin-left:-5px;">                           
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <span class="number-rating" style="color:darkolivegreen"><strong>@specialist.AverageRating</strong></span>
                                <span>
                                    (
                                    @specialist.RatingsCount
                                    @if (@specialist.RatingsCount == 1)
                                    {
                                        <span> глас )</span>
                                    }
                                    else
                                    {
                                        <span> гласа )</span>
                                    }
                                </span>                           
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <partial name="_SpecialistsPagingPartial" />
}

<script asp-append-version="true">
    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    function getRatings() {
        let ratings = document.querySelectorAll('.number-rating');
        let starsRef = document.querySelectorAll('.stars-inner');
        const starsTotal = 5;

        for (i = 0; i < ratings.length; i++) {
            let rating = ratings[i].textContent;            
            // Get percentage
            const starPercentage = (rating / starsTotal) * 100;
            // Round to nearest 10
            const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
            // Set width of stars-inner to percentage            
            starsRef[i].style.width = starPercentageRounded;
        }
    }
</script>