@using ProSeeker.Common
@model ProSeeker.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

@section Styles{
    <link href="~/css/Bootstrap/coolCounter.css" rel="stylesheet" asp-append-version="true" />
}

<style>

    html, body {
        height: 100%;
    }

    body {
        background-image: url('/images/Background/4.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
</style>

<form>
    <input hidden name="surveyId" value="0aa7a7fa-6074-489d-a982-31d6b6c88a68" />
    <button asp-action="Start" asp-controller="Survey">START Survey</button>
</form>

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text ">Our Customer</p>
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-user fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllClients" data-speed="1500"></h2>
                    @if (@Model.Counters.AllClients < 2)
                    {
                        <p class="count-text ">Потребител (непрофесионалист)</p>
                    }
                    else
                    {
                        <p class="count-text ">Потребители <br /> (непрофесионалисти)</p>
                    }
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-users fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.BaseCategories.SelectMany(c=>c.JobCategories).Count()" data-speed="1500"></h2>
                    @if (@Model.Counters.AllClients < 2)
                    {
                        <p class="count-text ">Професия</p>
                    }
                    else
                    {
                        <p class="count-text ">Професии</p>
                    }
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-user-tie fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllSpecialists" data-speed="1500"></h2>
                    @if (@Model.Counters.AllSpecialists < 2)
                    {
                        <p class="count-text ">Специалист</p>
                    }
                    else
                    {
                        <p class="count-text ">Специалисти</p>
                    }
                </div>
            </div>
        </div>
    </div>

    @foreach (var baseCategory in Model.BaseCategories)
    {
        <div class="list-group m-4">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">@baseCategory.CategoryName</h4>
                <p class="list-group-item-text">@baseCategory.Description</p>
            </a>

            <div class="row">
                @foreach (var category in baseCategory.JobCategories)
                {
                    <div class="media d-md-inline m-md-2" @*asp-route-id="@category.Id" asp-controller="JobCategories" asp-action="GetById"*@>
                        <div class="media-left">
                            <a asp-route-id="@category.Id" asp-controller="JobCategories" asp-action="GetCategory" class="text-decoration-none">
                                <img class="media-object" width="250" height="200" src="@category.PictureUrl" alt="...">
                                <h4 class="media-heading text-success">@category.Name</h4>
                            </a>
                            <p class="text-break text-dark">@category.ShortDescription</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/Bootstrap/CoolCounter.js"></script>
}