@using ProSeeker.Common
@model ProSeeker.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = $"Добре дошли в {GlobalConstants.SystemName}!";
}

@section Styles{ 
    @*<link href="~/css/MyCustomCss/Background/backgroundImg.css" rel="stylesheet" />*@
}

<div class="text-center">
    <h5 class="welcome-text">@this.ViewData["Title"]</h5>
    <h4 class="welcome-text-v2" style="font-size:35px;">Мястото, където търсенето среща предлагането</h4>

    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-scroll fa-2x" style="color:rgb(67, 131, 178);"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllAds" data-speed="1500"></h2>
                    @if (@Model.Counters.AllAds == 1)
                    {
                        <p class="count-text ">Обява</p>
                    }
                    else
                    {
                        <p class="count-text ">Обяви</p>
                    }
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-user fa-2x" style="color:rgb(67, 131, 178);"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllClients" data-speed="1500"></h2>
                    @if (@Model.Counters.AllClients < 2)
                    {
                        <p class="count-text ">Потребител (непрофесионалист)</p>
                    }
                    else
                    {
                        <p class="count-text ">Потребители <br /> (непрофесионалисти)</p>
                    }
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-users fa-2x" style="color:rgb(67, 131, 178);"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllBaseJobCategories" data-speed="1500"></h2>
                    @if (@Model.Counters.AllClients < 2)
                    {
                        <p class="count-text ">Професия</p>
                    }
                    else
                    {
                        <p class="count-text ">Професии</p>
                    }
                </div>
            </div>
            <div class="col">
                <div class="cool-bootstrap-counter">
                    <i class="fas fa-user-tie fa-2x" style="color:rgb(67, 131, 178);"></i>
                    <h2 class="timer count-title count-number" data-to="@Model.Counters.AllSpecialists" data-speed="1500"></h2>
                    @if (@Model.Counters.AllSpecialists < 2)
                    {
                        <p class="count-text ">Специалист</p>
                    }
                    else
                    {
                        <p class="count-text ">Специалисти</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Bootstrap/CoolCounter.js"></script>
}